* {
  font-family: Helvetica, Arial, Sans-Serif;
}

#mark-sweep, #list-objects, .memory-zones
{
  float: left;
}

#mark-sweep, #tree1, #tree2
{
  width: 500px;
  height: 500px;
}

li.marked
{
  color: red;
}
